<div class="container vertical-center">
<p id="notice"><%= notice %></p>
<%= link_to root_path, class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
<% end %>

<h1><%= @notice.classification.capitalize %></h1>

<p>
  <strong><%= @notice.title.capitalize %></strong>
</p>

<p>
  By:
  <%= @notice.user.firstname.capitalize %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notice.content.capitalize %>
</p>



<% if @notice.image.file.nil? %>
<% else %>
<%= image_tag(@notice.image_url(:standard)) %>
<% end %>




<% if @notice.user_id == current_user.id %>
<%= link_to 'Edit', edit_notice_path(@notice) %>
<% else %>
<% end%>

</div>
