<div class="container vertival-center">
  <%= link_to root_path, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
  <% end %>


<h1><%= @issue.classification.capitalize%></h1>
<h3>
  <%= @issue.title.capitalize %>
</h3>

<p>
  Reference No.
  <strong><%= @issue.receipt %></strong>
</p>

<p>
  By:
  <%= @issue.user.firstname.capitalize %>
</p>

<p>
  <%= @issue.content.capitalize %>
</p>



<% if @issue.image.file.nil? %>
<% else %>
<%= image_tag(@issue.image_url(:standard)) %>
<% end %>

<% if @issue.user_id == current_user.id %>
<%= link_to "Delete Issue", issue_path(:id => @issue.id), method: :delete, data: { confirm: 'All associated comments will also be deleted, are you sure?' } %>
<% else %>
<% end%>
<%= render "comments/form", comment: @comment %>

<table class="table table-striped">
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.user.firstname %></td>
        <% if comment.user_id == current_user.id %>
        <td><%= link_to 'Delete comment', issue_comment_path(:issue_id=>comment.issue_id, :id=>comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
